.instructions
  .number
    1)
  .details
    Register a new account

  .number
    2)
  .details
    Select the winning team and enter your points difference under
    = link_to 'picks', picks_path
    %br
    You can change your selection up until 1 Hour before the game starts

  .number
    3)
  .details
    Wait for the game to be played and the points to be updated.
    %br
    Points are assigned:
    %ul
      %li
        Having selected the winning team: One point for each value difference
      %li
        Having selected the winning team with the actual points difference: -10 points
      %li
        Having selected the incorrect team: One point for each value difference + 5 points

  .number
    4)
  .details
    Have a lower score than everyone else

