.header
  League:
  = @league.name

.display_row.row_header
  .position
    Position
  .points
    Points
  .name
    Name
- pos, points, next_points = 0, -1, 0
- @league.users_by_position.each_with_index do |user, i|
  - next_points += 1
  - pos += next_points unless user.points == points
  - points = user.points
  .display_row
    .position
      = pos
    .points
      = user.points
    .name
      = user.name

