.page
  .input_row, .display_row
    overflow: hidden
    padding: 10px 0

    .field
      float: left
      width: 200px
      padding-left: 20px
      color: #555

    .value
      float: left
      width: 300px

    .submit, .button
      padding-left: 100px
