.page
  .input_row, .display_row
    overflow: hidden
    padding: 10px 0

    .field
      float: left
      width: 200px
      padding-left: 20px
      color: #555

    .value
      float: left
      width: 300px

    .submit, .button
      padding-left: 100px

    .position, .points
      float: left
      text-align: center
      width: 80px

    .name
      width: 300px
      float: left

  .row_header
    font-size: 18px
    border-bottom: solid 1px #AAA
    color: #777

  .match_row, .pick_row
    overflow: hidden
    padding: 5px 0

    .name
      float: left
      width: 200px
      text-align: center

      input
        width: 20px

    .pool
      float: left
      width: 50px
      text-align: center

    .time
      float: left
      width: 175px
      text-align: center

    .location, .pick
      float: left
      width: 175px
