.page .input_row, .page .display_row {
  overflow: hidden;
  padding: 10px 0; }
  .page .input_row .field, .page .display_row .field {
    float: left;
    width: 200px;
    padding-left: 20px;
    color: #555555; }
  .page .input_row .value, .page .display_row .value {
    float: left;
    width: 300px; }
  .page .input_row .submit, .page .input_row .button, .page .display_row .submit, .page .display_row .button {
    padding-left: 100px; }
  .page .input_row .position, .page .input_row .points, .page .display_row .position, .page .display_row .points {
    float: left;
    text-align: center;
    width: 80px; }
  .page .input_row .name, .page .display_row .name {
    width: 300px;
    float: left; }
.page .row_header {
  font-size: 18px;
  border-bottom: solid 1px #aaaaaa;
  color: #777777; }
.page .match_row, .page .pick_row {
  overflow: hidden;
  padding: 5px 0; }
  .page .match_row .name, .page .pick_row .name {
    float: left;
    width: 200px;
    text-align: center; }
    .page .match_row .name input, .page .pick_row .name input {
      width: 20px; }
  .page .match_row .pool, .page .pick_row .pool {
    float: left;
    width: 50px;
    text-align: center; }
  .page .match_row .time, .page .pick_row .time {
    float: left;
    width: 175px;
    text-align: center; }
  .page .match_row .location, .page .match_row .pick, .page .pick_row .location, .page .pick_row .pick {
    float: left;
    width: 175px; }
