a, a:visited {
  color: black; }

a:hover {
  color: white; }

.instruct_wrapper {
  margin: 0 -200px; }

.instruct_column {
  padding: 30px;
  width: 430px;
  float: left; }

.instructions .number {
  color: blue; }

.page .input_row, .page .display_row {
  overflow: hidden;
  padding: 10px 0; }
  .page .input_row .field, .page .display_row .field {
    float: left;
    width: 200px;
    padding-left: 20px;
    color: #555555; }
  .page .input_row .value, .page .display_row .value {
    float: left;
    width: 300px; }
  .page .input_row .submit, .page .input_row .button, .page .display_row .submit, .page .display_row .button {
    padding-left: 100px; }
  .page .input_row .position, .page .input_row .points, .page .display_row .position, .page .display_row .points {
    float: left;
    text-align: center;
    width: 80px; }
  .page .input_row .name, .page .display_row .name {
    width: 300px;
    float: left; }
.page .row_header {
  font-size: 18px;
  border-bottom: solid 1px #aaaaaa;
  color: #777777; }
.page .players_wrapper {
  float: left;
  width: 460px;
  overflow: hidden; }
  .page .players_wrapper .players {
    overflow: hidden; }
.page .scores_wrapper {
  height: 500px;
  overflow-y: auto; }
.page .score_row.row_header .player {
  height: auto; }
.page .score_row {
  overflow: hidden;
  padding: 0 0; }
  .page .score_row .name {
    float: left;
    width: 120px;
    margin: 5px 0; }
  .page .score_row .player {
    float: left;
    text-align: center;
    width: 92px;
    padding: 5px 0;
    height: 25px; }
    .page .score_row .player span.small {
      font-size: 9px; }
  .page .score_row .odd {
    background: #dddddd; }
.page .match_row, .page .pick_row, .page .result_row {
  overflow: hidden;
  padding: 5px 0; }
  .page .match_row .name, .page .pick_row .name, .page .result_row .name {
    float: left;
    width: 175px;
    text-align: center; }
    .page .match_row .name input[type=text], .page .pick_row .name input[type=text], .page .result_row .name input[type=text] {
      width: 30px; }
  .page .match_row .pool, .page .pick_row .pool, .page .result_row .pool {
    float: left;
    width: 50px;
    text-align: center; }
  .page .match_row .time, .page .pick_row .time, .page .result_row .time {
    float: left;
    width: 175px;
    text-align: center; }
  .page .match_row .location, .page .match_row .pick, .page .pick_row .location, .page .pick_row .pick, .page .result_row .location, .page .result_row .pick {
    float: left;
    width: 200px; }
